<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQlUqPImcuVikTzvNv8wn0kQu14Ve4LvM</string>
	<key>GCM_SENDER_ID</key>
	<string>737190066366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ari.fru1tr4ce</string>
	<key>PROJECT_ID</key>
	<string>app-796</string>
	<key>STORAGE_BUCKET</key>
	<string>app-796.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737190066366:ios:2ede987c449ca498a3c6ef</string>
</dict>
</plist>